/* Overrides */

.btn-primary {
  border-radius: 40px;
  font-size: 16px;
  padding: 8px 20px;
  color: #333333;
  background-color: transparent;
  border-color: #333333;
  letter-spacing: 1px;
}

.btn-xl {
  border-radius: 40px;
  padding: 8px 20px;
  color: #333333;
  font-size: 16px;
  background-color: transparent;
  border-color: #333333;
  letter-spacing: 1px;
}

.btn-xl .badge {
  color: #333333;
  background-color: transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #26c2f9;
  border-color: transparent;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #26c2f9;
  border-color: transparent;
}

.navbar-custom .navbar-nav > .active > a {
  border-radius: none;
}

.navbar-custom .navbar-nav > .active > a {
  color: #26c2f9;
  background-color: transparent;
}

.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #26c2f9;
  background-color: transparent;
}

.navbar-custom .navbar-brand {
  color: white;
  font-family: "Roboto Slab", serif;
}

header {
  background-image: url('../img/hero-bg.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}

header .intro-text .intro-heading {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 30px;
  font-size: 135px;
  line-height: 75px;
  margin-bottom: 50px;
}

.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}

.bg-light-gray {
  padding-top: 70px;
  padding-bottom: 70px;
}

#services {
  padding-top: 70px;
  padding-bottom: 70px;
} 

section#contact {
  background-color: #c2c2c2;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media(min-width: 320px) {
  .portfolio {
    text-align: center;
  } 
  header .intro-text .intro-heading {
    font-size: 75px;
  }
  header .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
  }
  .mobile-margin {
    margin-top: 25px;
  }
}

@media (min-width: 768px) {
  .portfolio {
    text-align: left;
  }
  header .intro-text .intro-heading {
    font-size: 135px;
  }
  header .intro-text {
  padding-top: 270px;
  padding-bottom: 200px;
  }
}

@media (min-width: 1200px) {
  header .intro-text .intro-heading {
    font-size: 160px;
  }
}

section#contact .form-group textarea.form-control {
  height: 150px;
}

section#contact {
  background-color: #ffffff;
  background-image: url('../img/symphony.png');
  background-repeat: repeat;
}

section#contact .section-heading {
    color: #333333;
}

.background-tint {
  background-color: #ebebeb;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-control {
  border: 1px solid #bab8b8;
}

.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: transparent;
  border-color: transparent;
}

.navbar-custom .navbar-toggle {
  background-color: transparent;
  border-color: transparent;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  color: #12a3d5;
  background-color: transparent;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: #26c2f9;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

h4 {
  font-family: "Roboto Slab";
  letter-spacing: 1px;
}